{% extends 'catalog/base.html' %}
{% block content %}
  <h1>Local Library Book</h1>
  <p>
    Welcome to LocalLibrary, a website developed by
    <em>Mozilla Developer Network</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>The library has the following books:</p>
  
    {% if books %}
    <ul>
        {% for book in books %}
        <li><strong>Book {{book.id}} :</strong> <a href="{% url 'catalog:book_detail' book.id %}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <h1>There are no books available</h1>     
    {% endif %}

{% endblock %}